.download-button {
  background-color: var(--border-color);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  min-width: 8rem;
  height: 3rem;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  color: var(--guideline-inner);

  font-family: 'Roboto', sans-serif;
  transition: color 0.2s ease-out;
}

.download-button:disabled {
  background-color: var(--container-fill);
  color: var(--deactive-color);
  font-weight: 400;
}

.download-button:active {
  background-color: var(--container-fill);
  color: var(--text-color);
  cursor: pointer;
}

@media (max-width: 400px) {
  .download-button {
    font-size: 1rem;
    height: 2.4rem;
    min-width: 6.8rem;
  }
}