.calendar-input {
  width: 100%;
  height: 10rem;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--container-fill);
  border-radius: 10px;
  border: 2px dashed var(--border-color);
  box-shadow: none;
  -webkit-appearance: none;
  font-size: 1rem;
  line-height: 1.4;
  outline: none;
  padding: 12px 16px;
  resize: none;
  scrollbar-width: none;
  color: var(--text-color);
  font-weight: bold;
}

.calendar-input::placeholder {
  font-weight: bold;
  color: var(--deactive-color);
  white-space: pre;
}

.calendar-input::-webkit-scrollbar {
  display: none;
}

.calendar-input:focus {
  border: 3px solid var(--border-color);
  padding: 11px 15px;
}

@media (max-width: 750px) {
}

@media (max-width: 400px) {
  .calendar-input {
    font-size: 0.8rem;
    padding: 10px 12px;
  }

  .calendar-input:focus {
    padding: 9px 11px;
  }
}
