.footer_wrapper {
    display: flex;
    z-index: 2;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
}

.footer_icon {
    color: #000;
    font-size: 1.6rem;
}

.no-underline {
    text-decoration: none;
}

.fw-light {
    font-weight: 400;
}
